/*
| -------------------------------------------------------
| colores base de aplicación
| -------------------------------------------------------
*/
$color-white                            : #FFFFFF;
$color-background-error                 : #ff2c42;
$color-border-error                     : #ff2c42;
$color-message-error                    : #FF2C42;

$color-background-inputPredictive       : $color-white;
$color-border-bottom-inputPredictive    : #DDDDDD;

$color-white-text                       :$color-white;

$color-text-black                       : #000000;

$color-gray-divisor                     : #dcdcdc;

$color-gray-borders                     : #ededed;
$color-gray-borders2                    : #CACACA;
$color-gray-borders3                    : #CCCCCC;

$color-gray-border-light                : #E9E9E9;
$color-gray-border                      : #F0F0F0;
$color-gray-background-light            : #FCFCFC;


$color-gray                             :#666666;
$color-gray1                            :#EDEDED;
$color-gray2                            :#9A9A9A;
$color-gray3                            :#C4C4C4;
$color-gray4                            :#EEEEEE;
$color-gray5                            :#D9D9D9;
$color-gray6                            :#F5F3F4;
$color-gray7                            :#606a6f;

$color-gray-light                       :#DCDCDC;
$color-gray-verylight                   :#DFDFDF;
$color-gray-shadow                      :#BBB;
$color-gray-hover                       :#F3F3F3;
$color-gray-background-method-payment   :#F8F8F8;

/*
| -------------------------------------------------------
| colores base para WIBE
| -------------------------------------------------------
*/
$color-green-1                          : #00CC66;
$color-green-2                          : #08B25C;
$color-green-3                          : #20AA5C;
$color-green-4                          : #03BA5D;
$color-green-5                          : #00CB62;

$color-text-header                      : #f4d732;
$color-orange-border                    : #F7BF5E;

$color-aqua                             : #007B81;
$color-brown                            : #3F3602;
$color-orange                           : #FF8C00;
$color-orange2                          : #FFEA99;
$color-yellow                           : #FFD800;
$color-red                              : #FF2C42;
