@import 'compass';
@import 'colors';
@import 'spinners';

@mixin transition ( $_valueProperties ) {
    -moz-transition: $_valueProperties;
    -ms-transition: $_valueProperties;
    -o-transition: $_valueProperties;
    -webkit-transition: $_valueProperties;
    transition: $_valueProperties;
}

@mixin transform ( $_valueProperties ) {
    -moz-transform: $_valueProperties;
    -ms-transform: $_valueProperties;
    -o-transform: $_valueProperties;
    -webkit-transform: $_valueProperties;
    transform: $_valueProperties;
}



* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "FS Joey", "Arial", sans-serif;
}



*:hover, *:focus, *:active {
    outline: none !important;
}



.body {
    display: block;
    height: 100%;
    left: 0px;
    overflow: auto;
    position: fixed;
    top: 0px;
    width: 100%;
}

::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}



/**
 * wb-input-state
 */



.wb-input-state {



    &.wb-input-state-disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }



    &.wb-input-state-error {



        input {
            border-color: $color-red !important;
            color: $color-red !important;
            box-shadow: 0px 2px 0px 0px $color-gray4 !important;



            &:focus {
                border-color: $color-red !important;
                color: $color-red !important;
                box-shadow: 0px 2px 0px 0px $color-gray4 !important;
            }
        }
    }



    &.wb-input-state-success {

    }






    input {
        @include transition( all 0.2s );
        border-radius: 4px;
        border: 0px;
        border: 1px solid $color-gray1;
        box-shadow: 0px 1px 1px 0px $color-gray4;
        color: $color-gray;
        display: block;
        font-size: 16px;
        height: 45px;
        padding-left: 15px;
        padding-right: 35px;
        padding-top: 2px;
        width: 100%;



        &:focus {
            @include transition( all 0.2s );
            border-color: $color-gray1;
            box-shadow: 0px 0px 3px 0px $color-green-1;
        }



        &.ng-invalid-required.ng-dirty, &.ng-invalid.ng-dirty {
            box-shadow: 0px 1px 1px 0px $color-gray4;
            border-color: $color-gray1;
            color: $color-gray;
            @include transition( all 0.2s );



            &:focus {
                @include transition( all 0.2s );
                border-color: $color-gray1;
                box-shadow: 0px 0px 3px 0px $color-green-1;
            }
        }



        &.padding-with-tooltip {
            padding-right: 70px;
        }



        &[disabled="disabled"], &[disabled="true"], &.disabled {
            opacity: 0.3;
        }
    }



    .status-container {
        display: inline-block;
        float: right;
        height: 0px;
        position: relative;
        right: 10px;
        top: 11px;
        width: 80px;



        .input-state-icon, .input-state-tooltip, .input-state-spinner {
            @include transition( all 0.1s ease-in-out 0.1s );
            background-position: 50% 50%;
            background-repeat: no-repeat;
            display: inline-block;
            float: right;
            height: 24px;
            width: 24px;
        }



        .input-state-icon {
            margin-right: 3px;



            &.state-icon-success {
                @include transition( all 0.1s ease-in-out 0.1s );
                background-image: none;



                &.show-success-icon {
                    @include transition( all 0.1s ease-in-out 0.1s );
                    background-image: url( '/img/wibe-check-item-icon.png' ) !important;
                }
            }



            &.state-icon-error {
                @include transition( all 0.1s ease-in-out 0.1s );
                background-image: url( '/img/wibe-field-alert.png' ) !important;
            }
        }



        .input-state-tooltip {
            @include transition( all 0.1s ease-in-out 0.1s );
            background-image: url( '/img/icon-sign.png' );
            background-size: 25px 25px;
            cursor: pointer !important;
            height: 25px;
            margin-right: -1px;
            margin-top: -1px;
            width: 25px;
        }



        .tooltip.wb-input-state-tooltip .tooltip-inner {
            color: $color-brown;
            font-size: 12px;
            font-weight: 600;
            background-color: $color-yellow;
            // box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: none;
        }



        .tooltip.wb-input-state-tooltip .tooltip-arrow {
            border-right-color: $color-yellow;
            border-top-color: $color-yellow;
        }



        .input-state-spinner {
            margin-right: 5px;



            .spinner-2 {
                @include transform( scale( 0.11 ) );
                height: 24px;
                left: -10px;
                margin: 0px;
                position: relative;
                top: -10px;
                width: 24px;
            }
        }
    }
}
