doctype
html(ng-app = "webapp")
    head
        title directiva wb-input-states
        link( rel = "stylesheet", type = "text/css", href = "components/bootstrap/dist/css/bootstrap.min.css" )
        link( rel = "stylesheet", type = "text/css", href = "components/ld-core/dist/main.min.css" )
        link( rel = "stylesheet", type = "text/css", href = "css/stylesheet.css" )

    body(ng-controller = "webapp.ctrl.main"): div.body: table(cellpadding = "0", cellspacing = "0", border = "0", height = "100%", width = "100%"): tr: td(height = "100%", width = "100%", valign = "middle", align = "center"): form(name="titularData")

        div.container.container-fluid
            div.row
                div.col-xs-4
                div.col-xs-4
                    label Nombre:
                    input(
                        ng-model = "data.titularName",
                        type = "text",
                        wb-input-state = "{{ field1Status }}",
                        wbi-show-success-icon = "field1Status === 'SUCCESS'",
                        ng-pattern = "$$names",
                        maxlength = "40"
                        required,
                        name = "titularName",
                        ng-blur = "validateTitularName()"
                    )
            br
            div.row
                div.col-xs-4
                div.col-xs-4
                    label Apellido paterno:
                    input(
                        ng-model = "data.titularMiddleName",
                        type = "tel",
                        wb-input-state = "{{ field2Status }}",
                        wbi-show-success-icon = "true",
                        wbi-tooltip = "welcome to hell you fucking droid !!! ...",
                        wbi-tooltip-placement = "right",
                        ng-pattern = "$$zipCode"
                        maxlength = "5",,
                        ng-disabled = "field2Status === 'LOADING'",
                        placeholder = "zip code",
                        name = "titularMiddleName",
                        ng-blur = "validateTitularMiddleName()"
                    )

        script( type = "text/javascript", charset = "utf-8", src = "components/jquery/dist/jquery.min.js")
        script( type = "text/javascript", charset = "utf-8", src = "components/angular/angular.min.js")
        script( type = "text/javascript", charset = "utf-8", src = "components/angular-bootstrap/ui-bootstrap.min.js")
        script( type = "text/javascript", charset = "utf-8", src = "components/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script( type = "text/javascript", charset = "utf-8", src = "js/webapps/webapp.js")
        script( type = "text/javascript", charset = "utf-8", src = "js/directives/webapp.dctv.wb-input-state.js")
        script( type = "text/javascript", charset = "utf-8", src = "js/directives/webapp.dctv.wb-spinner.js")
        script( type = "text/javascript", charset = "utf-8", src = "js/controllers/webapp.ctrl.main.js")
